.jumbotron {
	border-style: solid;
	border-color: purple;
	background-color: grey;
	text-align: center;
	font-size: 72px;
}

/*#NewYorkTimesHeader{
	border-style: solid;
	border-color: grey;
	text-align: center;
}*/

.panel-heading{
	background-color: red;
	color: red;
}


#SearchBox {
	border-color: red;
	text-align: center;
}

#displayResults {
	border-color: blue;
	text-align: left;
}

h1 {
	background-color: green;
}

h3.SearchBox {
	color: white;
	background-color:navy;
	padding-top:10px;
	padding-bottom:10px;
}